.menuBetLimitRootRootRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  overflow: hidden;
}
.uiGameTheCreepyGuy {
  width: 428px;
  height: 926px;
  position: relative;
  gap: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #000000;
  overflow: hidden;
}
.backgroundMenuFooter {
  width: 398px;
  left: 0px;
  top: 622px;
  position: absolute;
  gap: 9px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 29px 15px 66px 15px;
  background-color: #12161d;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: luminosity, normal, normal;
  background-image: url(https://file.rendit.io/n/DfeYFM9ED2hk1ChFhflQ.png),
    linear-gradient(rgba(18, 23, 30, 1), rgba(18, 23, 30, 1)),
    linear-gradient(rgba(24, 29, 59, 1), rgba(24, 29, 59, 1));
}
.blackFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 33px 8px 38px;
  border-radius: 9px;
  background-color: #0a1328;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: luminosity, normal, normal, normal;
  background-image: url(https://file.rendit.io/n/QGuarpuHnrzqL7zFCD44.jpg),
    linear-gradient(rgba(11, 19, 40, 1), rgba(11, 19, 40, 1)),
    linear-gradient(rgba(21, 10, 4, 1), rgba(21, 10, 4, 1)),
    linear-gradient(rgba(15, 20, 33, 1), rgba(15, 20, 33, 1));
  box-shadow: inset 3px 3px 4px 0px rgba(0, 0, 0, 0.73);
}
.flexRow {
  gap: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.image1 {
  width: 27px;
  height: 27px;
}
.blackFlexColumn1 {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 64.5px 0px 55.5px;
  border-radius: 9px;
  background-color: #0a1328;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: luminosity, normal, normal, normal;
  background-image: url(https://file.rendit.io/n/QGuarpuHnrzqL7zFCD44.jpg),
    linear-gradient(rgba(11, 19, 40, 1), rgba(11, 19, 40, 1)),
    linear-gradient(rgba(21, 10, 4, 1), rgba(21, 10, 4, 1)),
    linear-gradient(rgba(15, 20, 33, 1), rgba(15, 20, 33, 1));
  box-shadow: inset 3px 3px 4px 0px rgba(0, 0, 0, 0.73);
}
.flexRow1 {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.image2 {
  width: 25px;
  height: 25px;
}
.flexColumn {
  width: 428px;
  height: 627px;
  position: relative;
  gap: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.abaaeaacfedbdlPebki {
  width: 428px;
  height: 299px;
}
.texture {
  width: 379px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 11px 24px 10px 25px;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/Tj36RnVX8k8Nl8SOvFta.png");
}
.overlay {
  width: 379px;
  height: 278px;
  position: relative;
  background-color: rgba(30, 34, 50, 0.5);
}
.item {
  height: 278px;
  left: 25px;
  top: 11px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexRow2 {
  gap: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 2px 0px;
}
.flexRow6 {
  gap: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 3px 0px;
}
.flexRow10 {
  gap: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexRow14 {
  width: 233px;
  left: 0px;
  top: 272px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 56px 96px 20px 99px;
}
.line2 {
  width: 4px;
  height: 279px;
  position: relative;
  margin: 0px 73px 0px 0px;
}
.line3 {
  width: 4px;
  height: 279px;
  position: relative;
}
.image11 {
  width: 428px;
  height: 355px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.winBetScore {
  width: 62.8px;
  height: 116px;
  left: 49px;
  top: 236px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 113px 0px 134px;
}
.flexColumn1 {
  left: 0px;
  top: 7px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 29px 40px 43px 69px;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/f8WudVm05qzeOifqtfj6.png");
}
.element9 {
  width: 44px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 79px 4px 78px;
  color: #eaa43b;
  font-size: 20px;
  font-weight: 700;
  font-family: FC Iconic;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #1d2231;
  mix-blend-mode: soft-light;
}
.untitledq {
  width: 62.8px;
  height: 48.2px;
  position: relative;
}
.flexRow15 {
  width: 428px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 54px 0px;
}
.flexRow16 {
  width: 333px;
  left: 0px;
  top: 26px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 38px 95px;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/D0oslE4UqpzPkxLIntWC.png");
}
.button2 {
  width: 49.9px;
  height: 49.9px;
  align-self: flex-start;
  padding: 0px;
  border-width: 0px;
  box-sizing: content-box;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-image: url("https://file.rendit.io/n/aBbRDRl37QYekGEuCSB3.svg");
  cursor: pointer;
}
.button2:hover {
  opacity: 70%;
}
.flexRow17 {
  height: 113px;
  gap: 54.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1px 0px 0px 0px;
}
.button1 {
  width: 49.9px;
  height: 50px;
  padding: 0px;
  border-width: 0px;
  box-sizing: content-box;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-image: url("https://file.rendit.io/n/uckNySb90aJwpJh4aE1M.svg");
  cursor: pointer;
}
.button1:hover {
  opacity: 70%;
}
.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}
.flexColumn2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 8px 9px 7px;
  border-radius: 5px 0px 0px 5px;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: luminosity, normal;
  background-image: linear-gradient(180deg, #144074 0%, #092749 100%),
    url(https://file.rendit.io/n/QGuarpuHnrzqL7zFCD44.jpg),
    linear-gradient(180deg, #144074 0%, #092749 100%);
  box-shadow: inset 1px 1px 2px 0px rgba(255, 255, 255, 0.25);
}
.flexColumn3 {
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttonTurbo {
  width: 53px;
  height: 77px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 23px 90px 0px 0px;
  padding: 0px;
  padding-right: 4px;
  padding-left: 3px;
  border-width: 0px;
  box-sizing: content-box;
  background: none;
  cursor: pointer;
}
.buttonTurbo:hover {
  opacity: 70%;
}
.ellipse1 {
  width: 26px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 13px 15px 9px 19px;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/42VVGgPgsqrsfz7pwGlU.png");
}
.image12 {
  width: 26px;
  height: 38px;
  position: relative;
}
.untitledffff {
  width: 53px;
  height: 28px;
  position: relative;
}
.buttonSpin {
  width: 95px;
  height: 154px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  margin: 0px 89.7px 0px 0px;
  padding: 0px;
  padding-right: 2.01px;
  padding-left: 1.28px;
  border-width: 0px;
  box-sizing: content-box;
  background: none;
  cursor: pointer;
}
.buttonSpin:hover {
  opacity: 70%;
}
.flexColumn5 {
  height: 116px;
  left: 0px;
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image13 {
  width: 98.3px;
  height: 116px;
}
.spin {
  width: 95px;
  height: 66px;
  position: relative;
}
.buttonAuto {
  width: 41px;
  height: 77px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 23px 0px 0px 0px;
  padding: 0px;
  padding-right: 10px;
  padding-left: 9px;
  border-width: 0px;
  box-sizing: content-box;
  background: none;
  cursor: pointer;
}
.buttonAuto:hover {
  opacity: 70%;
}
.ellipse4 {
  width: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 14px 12px 10px 13px;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/Qp98kHavk7MDVLrtsk03.png");
}
.image14 {
  width: 35px;
  height: 36px;
  position: relative;
}
.untitledasfasfaf {
  width: 41px;
  height: 28px;
  position: relative;
}
.blackFlexColumn2 {
  height: 926px;
  left: 0px;
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}
.flexColumn7 {
  height: 496px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 14px 0px;
  border-radius: 10px 10px 0px 0px;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: soft-light, normal;
  background-image: linear-gradient(180deg, #343b5f 0%, #262a40 100%),
    url(https://file.rendit.io/n/ZFoM2JUVyg2fdkN66PKW.jpg),
    linear-gradient(180deg, #343b5f 0%, #262a40 100%);
}
.flexRow18 {
  width: 265px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 0px 20px 0px;
  padding: 0px 14px 0px 149px;
}
.text2 {
  align-self: flex-end;
  color: #f9f9f9;
  font-size: 20px;
  font-weight: 700;
  font-family: FC Iconic;
  white-space: nowrap;
}
.image15 {
  width: 18px;
  height: 18px;
}
.flexRow19 {
  width: 388px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin: 0px 0px 21px 0px;
}
.flexColumn8 {
  width: 428px;
  height: 109px;
  position: relative;
  gap: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 17px 0px;
}
.flexColumn9 {
  width: 428px;
  height: 77px;
  position: relative;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image16 {
  width: 341px;
  height: 27px;
  left: 43px;
  top: 19px;
  position: absolute;
  mix-blend-mode: screen;
}
.flexRow20 {
  width: 191px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 56px 0px 181px;
}
.blackFlexRow {
  width: 428px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 0px 10px 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
.text9 {
  margin: 0px 37px 0px 0px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  font-family: FC Iconic;
  white-space: nowrap;
}
.text10 {
  margin: 0px 41px 0px 0px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  font-family: FC Iconic;
  white-space: nowrap;
}
.text11 {
  margin: 0px 24px 0px 0px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  font-family: FC Iconic;
  white-space: nowrap;
}
.text14 {
  margin: 0px 25px 0px 0px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  font-family: FC Iconic;
  white-space: nowrap;
}
.image17 {
  width: 341px;
  height: 27px;
  left: 43px;
  top: 63px;
  position: absolute;
  mix-blend-mode: screen;
}
.flexRow21 {
  width: 428px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text16 {
  margin: 0px 87px 0px 0px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  font-family: FC Iconic;
  white-space: nowrap;
}
.text17 {
  margin: 0px 144px 0px 0px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  font-family: FC Iconic;
  white-space: nowrap;
}
.flexRow22 {
  width: 428px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 17px 0px;
}
.text19 {
  margin: 0px 88px 0px 0px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  font-family: FC Iconic;
  white-space: nowrap;
}
.text20 {
  margin: 0px 142px 0px 0px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  font-family: FC Iconic;
  white-space: nowrap;
}
.flexRow23 {
  width: 317px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 23px 0px;
  padding: 0px 55px 0px 56px;
}
.blackFlexColumn3 {
  width: 104px;
  height: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  margin: 0px 0px 15px 0px;
  padding: 6px 150px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px);
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text24 {
  position: relative;
  color: #f9f9f9;
  font-size: 18px;
  font-family: FC Iconic;
  white-space: nowrap;
}
.text25 {
  left: 167px;
  top: 26px;
  position: absolute;
  color: #eaa43b;
  font-size: 32px;
  font-weight: 600;
  font-family: FC Iconic;
  text-align: center;
  white-space: nowrap;
}
.flexRow24 {
  width: 428px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexColumn10 {
  width: 192px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text26 {
  width: 100px;
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px -4px;
  padding: 12px 50px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 700;
  font-family: FC Iconic;
  white-space: nowrap;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/Ookewiw6YcSEjoJjThpM.png");
}
.indigoText {
  width: 46px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 73px 13px 73px;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 700;
  font-family: FC Iconic;
  white-space: nowrap;
  border-radius: 10px;
  background-color: #998fe6;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: luminosity, normal;
  background-image: url(https://file.rendit.io/n/yZsxADxx7C8l9gbJTFOd.jpg),
    linear-gradient(180deg, #5d56ac 0%, #3c3779 100%);
  box-shadow: inset 2px 2px 7px 0px rgba(255, 255, 255, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
